<div class="blog-container">
  {{#if projects.length}}
    {{#each projects}}
    <div class="blog-post">
      <div class="post-title">
        {{title}}
        <span class="post-meta">Posted by {{user.username}} on {{format_date createdAt}}</span>
      </div>
      <div class="post-content">
        {{content}}
      </div>
    </div>
    {{/each}}
  {{else}}
    <div class="blog-post">
      <div class="post-title">
        Welcome to The Tech Blog
      </div>
      <div class="post-content">
        No posts have been created yet. Login to create the first post!
      </div>
    </div>
  {{/if}}
</div>
