<div class="blog-container">
  <div class="blog-post">
    <div class="post-title">
      {{title}}
      <span class="post-meta">Posted by {{user.username}} on {{format_date createdAt}}</span>
    </div>
    <div class="post-content">
      {{content}}
    </div>
  </div>

  {{#if logged_in}}
  <div class="comment-form-container">
    <h3>Leave a Comment</h3>
    <form class="comment-form">
      <div class="form-group">
        <textarea id="comment-content" class="form-input" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="login-btn">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}

  <div class="comments-container">
    <h3>Comments</h3>
    {{#if comments.length}}
      {{#each comments}}
      <div class="comment">
        <div class="comment-meta">
          {{user.username}} on {{format_date createdAt}}
        </div>
        <div class="comment-content">
          {{content}}
        </div>
      </div>
      {{/each}}
    {{else}}
      <p>No comments yet.</p>
    {{/if}}

    {{#unless logged_in}}
    <div class="login-prompt">
      <p><a href="/login">Login</a> to leave a comment.</p>
    </div>
    {{/unless}}
  </div>
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}